.Notifications {
    position: absolute;
    margin: 1rem;
    padding: 1rem;
    border: 1px dashed red;
    right: 0;
    width: 30vw;
}

/* [data-priority="default"] {
    color: blue;
}

[data-priority="urgent"] {
    color: red;
} */

[data-notification-type="default"] {
    color: blue;
}

[data-notification-type="urgent"] {
    color: red;
}

li{
    color: red;
}

button {
    background: none;
    border: none;
}

button > img {
    width: 30px;
    position: absolute;
    top: 0;
    right: 10px;
    margin-top: 0.5rem;
    /* border: 1px solid; */
}

.menuItem {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 1rem 1rem 0 1rem;
}